<div class="container">
<div style="text-align:center">
  <h1>
    Frachise for Sale table
  </h1>
</div>
<div class="form-group">

  <input type="text" [ngModel]="globalFilter" (ngModelChange)="applyAllFilter($event)" placeholder="Filter all columns">
</div>
<table class = "table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <td>Service</td>
      <td>State</td>
      <td class="sortColumn" (click)='sortContact()'>Contact<i [ngClass]="contactClicked ? 'fas fa-angle-down' : 'fas fa-angle-up'"></i></td>
      <td class="sortColumn" (click)='sortPrice()'>Price<i [ngClass]="priceClicked ? 'fas fa-angle-down' : 'fas fa-angle-up'"></i></td>
      <td>Action</td>
    </tr>
    <tr>
      <td>
          <input [ngModel]="serviceFilter" (ngModelChange)="applyServiceFilter($event)" placeholder="Filter by Service">
      </td>
      <td>
          <input [ngModel]="stateFilter" (ngModelChange)="applyStateFilter($event)" placeholder="Filter by State">
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let forsale of filteredData |paginate: { itemsPerPage: 10, currentPage: p }">
        <td>{{forsale.service}}</td>
        <td>{{forsale.state}}</td>
        <td>{{forsale.contact}}</td>
        <td>{{forsale.price}}</td>
        <td class="actionColumn">
          <a href={{forsale.link}}>link text</a>
        </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

</div>

<!-- <router-outlet></router-outlet> -->