
table {
      width:100%;
}
tr td {
    width:20%;
}

.fas {
    color:#2199E8;
    float: right;
    font-size: 22px;
}

.sortColumn {
    cursor: pointer;
}

.actionColumn{
    background-color:grey;
    text-align: center;
}

.actionColumn:hover {
    background-color: lightblue;
}

.actionColumn a {
    cursor: pointer;
    color:white;
}



  


